# Byte-compiled Python files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

.env

# Editor-specific files
.vscode/
.idea/

# Operating System files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp

# Script output
trimmed_npa_report.csv
